*{
    margin: 0;
    padding: 0;
}



.floatr{
    float: right;
}
.floatl{
    float: left;
}
section{
  position: relative;
  top: 48px;
    width:100%;
    background-color: black;
}
.contbox1{/* 第一个box */
    width: 1419px;
    height: 60px;
    padding: 0 3%;
    position: relative;
    /* background-color: blueviolet; */
}
.box1-s{
    width: 500px;
    height: 60px;
    float: left;
}
.box1-s ul{/* box1中 的ul标签 */
    float: left;
    list-style: none;
}
.box1-s ul li{/* 文字大小间距 */
    float: left;
    margin-right: 10px;
    height: 15px;
    padding-top: 40px;
    font-size: 13px;
    color: #797979;
}
.contbox1 span{/* 右边标签 */
    float: right;
    height: 60px;
    width: 300px;
    text-align: right;/* 水平向右 */
}
.contbox1 span p{
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}
.contbox2{
    display: inline-block;
    height: 620px;
    width: 1419px;
    padding: 0 3%;
    position: relative;
}
.contbox2 img{
    width: 100%;
    height: 620px;
}
.contbox2 .box2-1{
    width: 340px;
    height: 64px;
    padding-top: 269px 544px;
    position: absolute;
    top: 270px;
    left: 590px;
    text-align: center;
    color: #fff;
    font-size: 1.3em;
    font-weight: 700;
}
.contbox3{
    width: 665px;
    height: 200px;
    margin: 5px 3%;
    /* background-color: aquamarine; */
    padding: 70px 377px;
    text-align: center;
    
}
.contbox3 span{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}
.contbox3 p{
    font-size: 17px;
    font-weight: 400;
    color: white;
}
.contbox4{
    width: 1419px;
    height: 844px;
    margin: 10px 3%;
}
.contbox4 .box4-1{
    width: 705px;
    height: 844px;
    float: left;
}
.contbox4 .box4-2{
    width: 705px;
    height: 844px;
    float: right;
}
.contbox4 img{
    width: 100%;
    height: 100%;
}
.contbox5{
    height: 855px;
    width: 1419px;
    margin: 10px 3%;
}
.contbox5 .box5-1{
    width: 710px;
    height: 855px;
    float: left;
}
.contbox5 .box5-2{
    float: right;
    width: 579px;
    height: 695px;
    padding: 80px 65px;
}
.contbox5 .box5-1 img{
    width: 100%;
    height: 100%;
}
.contbox5 .box5-2 h3{
    font-size: 21px;
    font-weight:500 ;
    color: white;
    text-align: left;
}
.contbox6{
    width: 1419px;
    height: 697px;
    margin: 10px 3%;
}
.contbox6 video{
    width: 100%;
    height: 100%;   
}
.contbox7{
    width: 1319px;
    height: 154px;
    margin: 23px 3%;
    padding-left: 100px;
}
.contbox7 h2{
    float: left;
    text-align: left;
    font-weight: 700;
    font-size: 2em;
    margin-right:500px;
    color: #fff;
}
.contbox7 .box7-1{
    float: right;
    text-align: left;
    width: 600px;
    height: 154px;
    font-size: 17px;
    margin-right: 100px;
    color: #fff;
}
.contbox8{
    width: 1419px;
    height: 575px;
    margin: 10px 3%;
}
.contbox8 ul{
    list-style: none;
    float: left;
}
.contbox8 ul li{
    width: 350px;
    height: 575px;
    float: left;
    margin-left: 4px;
}
/* .contbox8 ul li:nth-child(4n){
    margin-left: 3px;
} */
.contbox8 ul li img{
    width: 100%;
    height: 100%;
}
.contbox9{
    width: 1379px;
    height: 64px;
    margin: 0 3% ;
    padding: 10px 20px;
    background-color: black;
}
.box9-1{
    background-color: #fff;
    width: 649px;
    height: 24px;
    padding: 20px;
}
.box9-2{
    background-color: #fff;
    width: 650px;
    height: 24px;
    padding: 20px;
}
.contbox9  ul{
    list-style: none;
    
}
.contbox9  ul li{
    
    height: 24px;
    margin: 0 10px;
}
.contbox9  ul li img{
    height: 100%;
}


