*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 75.5%; 
}

/* 主体 */
section{
    position: relative;
    top: 10px;
    float: left;
    /* margin: 0 ; */
    width: 168rem;
    height: 336rem;
    /* display: flex; */
    /* outline: 1px solid hotpink; */
}
/* 标题 */
section>h1{
    font-size: 3.5rem;
    margin: 4rem 0 1.8rem 2rem;
}
section>h3{
    font-size: 1.25rem;
    margin:0 0 3rem 2rem;
}
/* 第一行图片 */
.tu1{
    position: relative;
    width: 162rem;
    height: 95.5rem;
    padding: 0 2rem;
    /* display: flex; */
}
.tu1-1,.tu1-2{
    position: absolute;
    width: 81rem;
    height: 93.5rem;
    /* padding: 10px; */
    font-weight: bold;
    /* display: flex; */
}
.tu1 nav a{
    display: block;
    width: 81rem;
    height: 83.3rem;
}
.tu1-1{
    background-image: url(../images/LYT1.webp);
    background-size: 100%;
}
.tu1-2{
    right: 0;
    background-image: url(../images/LYT2.webp);
    background-size: 100%;
}
/* 第一行的标题和链接 */
.tu1-1 div,.tu1-2 div{
    display: inline-block;
    color:black ;
}
.tu1-1>div,.tu1-2>div{
    width: 77rem;
    height: 4.2rem;
    padding: 3rem 2rem ;
    font-size: 3.2rem;
}
.hei{
    position: relative;
    left: 43.8rem;
    top: 0;
    width: 6.4rem;
    height: 3.9rem;
    /* background-color: aquamarine; */
    border-bottom: 0.1rem solid black;
    overflow: hidden;
    transition: all 0.3s;
}
.hei>a{
    display: inline-block;
    position: absolute;
    height: 4rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
    line-height: 4rem;
}
.hei::after{
    content: "";
    display: block;
    position: absolute;
    top: 3.9rem;
    width: 6.4rem;
    height: 3.9rem;
    background-color: black;
}
.hei:hover::after{
    top: 0;
    transition: 0.3s;
}
.hei:hover>a{
    color: aliceblue;
    z-index: 1;
}
/* 第二排图片矢量图和超链接 */
.icon {
    width: 1.75em;
    height: 1.75em;
    /* vertical-align: -0.15em; */
    fill: currentColor;
    overflow: hidden;
    display: block;
    padding: 0.8rem;
    color: black;
    /* opacity: 0; */
    z-index: -1;
  }
.erpai a{
    /* display: inline-block; */
    width: 4.4rem;
    height: 4.4rem;
    position: absolute;
    z-index: 3;
    opacity: 0;
    /* visibility: hidden; */
    transition: all .3s;
}
.a1{
    right:0;
    top: 1rem; 
}
.a2{
    right: 0;
    top: 5.4rem;
}
/* 第二排图片总大小和各个小盒子 */
main{
    width: 160rem;
    height: 61rem;
    padding: 2rem 4rem;
}
main>div{
    float: left;
    width: 38rem;
    height: 61rem;
    padding: 1rem;
    /* outline: 1px solid black; */
}
.erpai{
    position: relative;
    width: 38rem;
    height: 47.5rem;
 
}
/* 二排第一张图 */
.tu2-1-1{
    background-image: url(../images/LYT3.webp);
    background-size: 100%;
}
/* .tu2-1>a{
    display: inline-block;
    width: 380px;
    height: 610px;
    z-index: -1; 
    opacity: -1;
} */
.tu2-1-1::after{
    content: "";
    display: inline-block;
    width: 38rem;
    height: 47.5rem;
    position: absolute;
    top: 0px;
    background-image: url(../images/LYT4.webp);
    opacity: 0;
    transition: all 0.8s;
}
.tu2-1-1:hover::after{
    opacity: 1;
    transition: all 0.8s;
}
.erpai:hover a{
    opacity: 1;
    /* z-index: 3; */
    /* visibility: visible; */
}
/* 第二排图片下面的名称价格 */
.jiage{
    width: 34rem;
    height: 9.5rem;
    padding: 2rem;
    /* outline: 1px solid hotpink; */
}
.jiage a{
    text-decoration: none;
    color: black;
    display: block;
    height: 4rem;
}
.jiage div{
    width: 34rem;
    height: 2.1rem;
    font-size: 1.2rem;
    font-weight: lighter;
}
/* 二排第二张图 */
.tu2-2-1{
    background-image: url(../images/LYT6.webp);
    background-size: 100%;
}
.tu2-2-1::after{
    content: "";
    display: inline-block;
    width: 38rem;
    height: 47.5rem;
    position: absolute;
    top: 0px;
    background-image: url(../images/LYT5.webp);
    opacity: 0;
    transition: all 0.8s;
}
.tu2-2-1:hover::after{
    opacity: 1;
    transition: all 0.8s;
}
.erpai:hover a{
    opacity: 1;
}
/* 二排第三张图 */
.tu2-3-1{
    background-image: url(../images/LYT7.webp);
    background-size: 100%;
}
.tu2-3-1::after{
    content: "";
    display: inline-block;
    width: 38rem;
    height: 47.5rem;
    position: absolute;
    top: 0px;
    background-image: url(../images/LYT8.webp);
    opacity: 0;
    transition: all 0.8s;
}
.tu2-3-1:hover::after{
    opacity: 1;
    transition: all 0.8s;
}
.erpai:hover a{
    opacity: 1;
}
/* 二排第四张图 */
.tu2-4-1{
    background-image: url(../images/LYT9.webp);
    background-size: 100%;
    
}
.tu2-4-1::after{
    content: "";
    display: inline-block;
    width: 38rem;
    height: 47.5rem;
    position: absolute;
    top: 0px;
    background-image: url(../images/LYT10.webp);
    opacity: 0;
    transition: all 0.8s;
}
.tu2-4-1:hover::after{
    opacity: 1;
    transition: all 0.8s;
}
.erpai:hover a{
    opacity: 1;
}
/* 第三排 */
.tu3{
    position: relative;
    width: 162rem;
    height: 95.5rem;
    padding: 0 2rem;

}
.tu3>div{
    position: absolute;
    width: 81rem;
    height: 93.5rem;
    /* padding: 10px; */
    font-weight: bold;
}
.tu3 nav a{
    display: block;
    width: 81rem;
    height: 83.3rem;
}
.tu3-1{
    background-image: url(../images/LYT11.webp);
    background-size: 100%;
}
.tu3-2{
    right: 0;
    background-image: url(../images/LYT12.webp);
    background-size: 100%;
}
/* 第三行的标题和链接 */
.tu3-1 div,.tu3-2 div{
    display: inline-block;
}
.tu3-1>div,.tu3-2>div{
    width: 77rem;
    height: 4.2rem;
    padding: 3rem 2rem ;
    font-size: 3.2rem;
}
.hei{
    position: relative;
    left: 43.8rem;
    top: 0;
    width: 6.4rem;
    height: 3.9rem;
    /* background-color: aquamarine; */
    border-bottom: 1px solid black;
    overflow: hidden;
    transition: all 0.3s;
}
.hei>a{
    display: inline-block;
    position: absolute;
    height: 40;
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
    line-height: 4rem;
}
.hei::after{
    content: "";
    display: block;
    position: absolute;
    top: 3.9rem;
    width: 6.4rem;
    height: 3.9rem;
    background-color: black;
}
.hei:hover::after{
    top: 0;
    transition: 0.3s;
}
.hei:hover>a{
    color: aliceblue;
    z-index: 1;
}
/* 第四排矢量图和超链接 */
.icon {
    width: 1.75em;
    height: 1.75em;
    /* vertical-align: -0.15em; */
    fill: currentColor;
    overflow: hidden;
    display: block;
    padding: 8px;
    color: black;
    /* opacity: 0; */
    z-index: -1;
  }
.sipai a{
    /* display: block; */
    width: 4.4rem;
    height: 4.4rem;
    position: absolute;
    /* background-color: aqua; */
    z-index: 3;
    opacity: 0;
    /* visibility: hidden; */
    transition: all .3s;
}
.a3{
    right: 0;
    top: 1rem;
}
.a4{
    right: 0;
    top: 5.4rem;
}
/* 第四排图片总大小和各个小盒子 */
.tu4{
    width: 160rem;
    height: 61rem;
    padding: 2rem 4rem;
}
.tu4>div{
    float: left;
    width: 38rem;
    height: 61rem;
    padding: 1rem;
    /* outline: 1px solid black; */
}
.sipai{
    position: relative;
    width: 38rem;
    height: 47.5rem;
 
}
/* 四排第一张图 */
.tu4-1-1{
    background-image: url(../images/LYT13.webp);
    background-size: 100%;
}
.tu4-1-1::after{
    content: "";
    display: inline-block;
    width: 38rem;
    height: 47.5rem;
    position: absolute;
    top: 0px;
    background-image: url(../images/LYT14.webp);
    opacity: 0;
    transition: all 0.8s;
}
.tu4-1-1:hover::after{
    opacity: 1;
    transition: all 0.8s;
}
.sipai:hover a{
    opacity: 1;
    /* z-index: 3; */
    /* visibility: visible; */
}
/* 第四排图片下面的名称价格 */
.jiage{
    width: 34rem;
    height: 9.5rem;
    padding: 2rem;
    /* outline: 1px solid hotpink; */
}
.jiage a{
    text-decoration: none;
    color: black;
    display: block;
    height: 4rem;
}
.jiage div{
    width: 34rem;
    height: 2.1rem;
    font-size: 1.2rem;
    font-weight: lighter;
}
/* 四排第二张图 */
.tu4-2-1{
    background-image: url(../images/LYT15.webp);
    background-size: 100%;
}
.tu4-2-1::after{
    content: "";
    display: inline-block;
    width: 38rem;
    height: 47.5rem;
    position: absolute;
    top: 0px;
    background-image: url(../images/LYT16.webp);
    opacity: 0;
    transition: all 0.8s;
}
.tu4-2-1:hover::after{
    opacity: 1;
    transition: all 0.8s;
}
.sipai:hover a{
    opacity: 1;
}
/* 四排第三张图 */
.tu4-3-1{
    background-image: url(../images/LYT17.webp);
    background-size: 100%;
}
.tu4-3-1::after{
    content: "";
    display: inline-block;
    width: 38rem;
    height: 47.5rem;
    position: absolute;
    top: 0px;
    background-image: url(../images/LYT18.webp);
    opacity: 0;
    transition: all 0.8s;
}
.tu4-3-1:hover::after{
    opacity: 1;
    transition: all 0.8s;
}
.sipai:hover a{
    opacity: 1;
}
/* 四排第四张图 */
.tu4-4-1{
    background-image: url(../images/LYT19.webp);
    background-size: 100%;
    
}
.tu4-4-1::after{
    content: "";
    display: inline-block;
    width: 38rem;
    height: 47.5rem;
    position: absolute;
    top: 0px;
    background-image: url(../images/LYT20.webp);
    opacity: 0;
    transition: all 0.8s;
}
.tu4-4-1:hover::after{
    opacity: 1;
    transition: all 0.8s;
}
.sipai:hover a{
    opacity: 1;
}
/* 固定定位的与我交流 */
.jiaoliu{
    position: fixed;
    right: 3rem;
    bottom: 4rem;
}