*{
    margin: 0;
    padding: 0;
}
body {
  background-color: rgb(255, 255, 255);
}





.floatleft{
    float: left;
}
.floatright{
    float: right;
}
a{
    text-decoration: none;
    color: white;
}
section{
  position: relative;
  top: 48px;
    width: 100%;
    height: 650px;
}

.sectCont1{/* 测边框外框 */
    
    height: 550px;
    width: 105px;
    background-color: black;
    position: relative;
    overflow: visible;
    z-index: 2;
}
.Cont1div{/* 定位旋转 */
    width: 550px;
    height: 60px;
    position: absolute;
    bottom: 0px;
    left: 83px;
    /* border: 1px solid red; */
    transform: rotate(-90deg);
    transform-origin: left bottom;

}
.Cont1kuang{/* 测边框三个小方块 */
    display: inline-block;
    height: 24px;
    width: 24px;
    padding: 18px 28px;
}    
.Cont1kuang .smallbox{
    width: 10px;
    height: 10px;
    background-color: white;
    border: none;
}
.Cont1kuang .bigbox{
    position: relative;
    top: 14px;
    
    width: 22px;
    height: 10px;
    border: 1px solid white;
    
}
.Cont1div .Cont1font{/* 测边框英文字母外框 */
    display: inline-block;
    width: 200px;
    height: 100%;
    /* border: 1px solid blue; */
}
.Cont1div .Cont1font h2{/* h2标签 */
    color: white;
    height: 60px;
    line-height: 60px;
    font-size: 1.5em;
}
.sectCont1 .Cont1k2{/* 全部 */
    display: inline-block;
    height: 60px;
    width: 220px; 
    /* border: 1px solid green; */

} 
.sectCont1 .div-ul{
    list-style: none;
    height: 60px;
    line-height: 60px;
   /* border: 1px solid blue; */
    font-size: 0.8em; 
    position: relative;
}
.div-ul li{
    float: left;
    margin-left: 20px;
    /* border: 1px solid yellow; */
}
/* .sectCont1 .Cont1k2 .div-ul a{
    text-decoration: none;
    color: white;
} */
.sectCont1 .Cont1k2 .div-ul a .jiahao{
    height: 20px;
    width: 20px;
    margin-top: 20px;
}
.sectCont3{/* 隐藏框 */
    width: 166px;
    height: 498px;
    background-color: black;
    position: absolute;

    transform-origin: top left;
    transform: rotate(90deg);
    visibility: hidden;
}
.sectCont3 .Cont3-ul{
    list-style: none;
}
.sectCont3 .Cont3-ul li{
    height: 160px;
    width: 160px;
    padding: 3px;
    margin-left: 0;
}/*  */
.sectCont3 .Cont3-ul li img{
    height: 100%;
    width: 100%;
}
.sectCont1 .Cont1div .Cont1k2 .div-ul .div-ul-li:hover .sectCont3{
    visibility: visible;
}

.sectCont2{/* 图片外框 */
    width: 93%;
    height: 550px; 
    background-color: black;
    /* background-color: black; */
    position: relative;
    /* z-index: 1; */
}
.sectCont2 .Cont2-ul{
    list-style: none;

}
.sectCont2 .Cont2-ul li{/* li布局 */
    float: left;
    width: 191px;
    height: 224px;
    background-color: #222222;
    /* border: 1px solid red; */
    margin: 20px 20px;
    position: relative;
    
}
.sectCont2 .Cont2-ul li:nth-child(6n){/* 取消第6、12的margin右值 */
    margin-right: 0;
} 
.Cont2-ul .spanro{/* li标签中旋转再定位 */
    display: inline-block;
    height: 30px;
    line-height: 30px;
    transform-origin: top right;
    transform: rotate(-90deg);
    position: absolute;
    right: 30px;
    font-size: 0.5em;
    font-weight: 600;
    z-index: 1;
}

.Cont2-ul p{
    display: inline-block;
    text-transform: uppercase;
    color: white;
}

.Cont2-ul .div-bg{/* 设置图片的外框 */
    display: inline-block;
    width: 151px;
    height: 105px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    /* background-color: goldenrod; */
}
.bg11{/* 图片的三个宽高设置 */
    width: 85px;
    height: 105px;
    transition: all 1s;
}
.bg12{
    width: 104px ;
    height: 104px ;
    transition: all 1s;
}
.bg13{
    width: 151px ;
    height: 100px ;
    transition: all 1s;
}
/* .Cont2-ul .div-bg img{
    width: 100%;
    height: 100%;
} */
.Cont2-ul .div-font{/* 图片下方的文字设置外框 */
    width: 151px;
    height: 100px;
    margin-left: 10px;
    /* border: 1px solid #000; */
    text-align: left;
    
}
.Cont2-ul .div-font span{/* 日期 */
    display: block;
    color: white;
    font-size: 16px;
    margin-bottom: 12px;
    font-size: 0.8em;
}
.Cont2-ul .div-font h2{
    height: 45px;
    color: white;
    font-size: 17px;
    font-weight: 700;
    overflow: hidden;
}
.Cont2-ul .div-hover{/* 设置并隐藏探索框 */
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    border: 1px solid white;
    position: absolute;
    top: 87px;
    left: 70px;
    visibility: hidden;
}

.Cont2-ul li:hover .spanro{/* 调低亮度 */
   filter: brightness(40%);
}
.Cont2-ul li:hover .div-bg{
    filter: brightness(40%);
 }
 .Cont2-ul li:hover .div-font{
    filter: brightness(40%);
 }
.Cont2-ul li:hover .div-hover{/* 显示探索框 */
    visibility: visible;
    
}
.Cont2-ul .div-hover:hover{/* 探索框变化 */
    background-color: white;
    color: #000;
    transition: all 1s;
}
.Cont2-ul .div-hover:hover a{
    color: #000;
}
.Cont2-ul li:hover .div-bg img{/* 图片放大 */
    transform: scale(1.1);
    transition: all 1s;
}
