* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    align-items: center;
    gap: 20px;
    /* border-radius: 10px; */
    /* backdrop-filter: blur(7px); */
    background-color: rgb(255, 255, 255);
    /* border-right: 1px rgba(40, 40, 40, 0.35) solid; */
    position: fixed;
    z-index: 9;
  }
  .container {
    position: relative;
    z-index: 99;
    width: 100%;
    height: 48px;
    margin: auto;
  }
  
  .logo {
    margin-left: 0%;
    float: left;
    width: 90px;
    height: 48px;
  }
  
  .logo img {
    height: 28px;
    margin-left: 15%;
    margin-top: 12%;
  }
  
  .container ul {
    float: left;
    margin-left: 100px;
    margin-top: 18px;
  }
  
  .container ul li {
    float: left;
    width: 50px;
    list-style: none;
    text-align: center;
  }
  
  .container ul li a {
    margin: auto;
  
    float: left;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 800;
  }
  .last {
    position: relative;
    /* top: 100px; */
    left: 50px;
  }
  .icon {
    position: relative;
    float: right;
    width: 120px;
    height: 48px;
    justify-content: space-between;
  }
  .icon a {
    display: inline-block;
    position: relative;
    width: 22px;
    top: 25%;
  }
  .icon img {
    height: 14px;
    /* text-align: justify; */
  }
  .headershoushuo1 {
    display: none;
    position: fixed;
    overflow: auto;
    z-index: 1;
    top: 0;
    left: 0;
    width: 70%;
    height: 48px;
    background-color: rgb(255, 255, 255);
  
  }
  .headershoushuo2 {
    
    position: relative;
    top: 10px;
    border-bottom: 1px solid #000000;
    left: 20px;
    width: 230px;
  
  }
  .headershoushuo2 input {
    position: relative;
    border-style: none;
    font-size: 12px;
    forced-color-adjust: none;
    left: 0;
    top: 0;
  }
  .headershoushuo2 input:focus {
    border-style: none;
    outline: none;
  }
  .dropbtn {
    color: white;
    border: none;
    /* 光标样式 手指 */
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: fixed;
    cursor: pointer;
    top: 48px;
    width: 600px;
    height: 600px;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: hidden;
  }
  .dropdown1 {
    position: relative;
    width: 60px;
  }
  .dropdown2 {
    position: relative;
    width: 400px;
    left: 300px;
    height: 600px;
    background-color: #b9b9b9a2;
    opacity: 0;
  }
  
  .dropdown3 {
    /* float: left; */
    position: relative;
    /* left: -150px; */
    top: -110px;
  }
  .dropdown3 a {
    display: inline-block;
    width: 200px;
    /* height: 10px; */
  }
  
  .dropdown-content div:hover .dropdown2 {
    opacity: 1;
  }
  .dropdown-content ul {
    position: relative;
    left: -100px;
    height: 6px;
  }
  .dropdown-content ul li {
    padding: 0px 16px;
    text-decoration: none;
  }
  .dropdown-content div ::after {
    position: relative;
    left: 0px;
    content: " ＞";
    width: 10px;
    height: 20px;
    opacity: 0;
    transition: all 0.5s;
  }
  
  .dropdown-content ul :hover {
    opacity: 1;
  
    font-weight: 800;
  }
  
  .dropdown-content div :hover ::after {
    opacity: 1;
  
    font-weight: 800;
  }
  .dropdown-content a {
    color: black;
    padding: 4px 16px;
    text-decoration: none;
  }
  .dropdown a:hover {
    /* background-color: #f1f1f1; */
    color: #4e4e4e;
  }
  .show {
    display: block;
  }


.readytowear {
    width: 100%;
    height: 180px;
    text-align: center;
    /* margin-top: 50px; */
    line-height: 180px;
    font-size: 34px;
    font-weight: 600;
}

section {
    width: 100%;
    height: 1600px;
}

.Selection-box {
    float: left;
    width: 95%;
    height: 50px;
    line-height: 50px;
    margin-left: 30px;
}

.category {
    border: 0;
    float: left;
    margin: 0 20px 0 0;
    width: 160px;
    font-size: 12px;
}

.category-box {
    border: 0;
}

.category-box option {
    background-color: white;

}

.series {
    float: left;
    border: 0;
    margin: 0 20px 0 0;
    width: 230px;
    font-size: 12px;
}

.series-box {
    border: 0;
}

.size {
    float: left;
    border: 0;
    margin: 0 20px 0 0;
    width: 160px;
    font-size: 12px;
}

.size-box {
    border: 0;
}

.texture-of-material {
    float: left;
    border: 0;
    margin: 0 20px 0 0;
    width: 160px;
    font-size: 12px;
}

.texture-of-material-box {
    border: 0;
}

.dyestuff {
    float: left;
    border: 0;
    margin: 0 20px 0 0;
    width: 160px;
    font-size: 12px;
}

.dyestuff-box {
    border: 0;

}

.commodity {
    border: 0;
    float: right;
    margin: 0 0 0 0;
    width: 160px;
    text-align: center;

}

.commodity-box {
    border: 0;
    font-weight: 700;
    font-size: 14px;

}

.photo-Exhibition {
    float: left;
    width: 100%;
    height: 600px;
    margin-top: 30px;
}

/* 第一张图片 */
.photo-top1 img {
    width: 24%;
    height: 450px;
    float: left;
    padding-right: 15px;
    opacity: 1;
    transition: all .5s;
    margin-left: 30px;
}

.photo-top1 img:hover {
    opacity: 0;

}

.photo-top1-1 img {
    width: 24%;
    height: 450px;
    float: left;
    opacity: 0;
    margin-left: -379px;
    transition: all .5s;
}

.photo-top1-1 img:hover {
    opacity: 1;
}

/* 第二张图片 */
.photo-top2 img {
    width: 24%;
    height:450px;
    float: left;
    padding-right: 15px;
    opacity: 1;
    transition: all .5s;
}

.photo-top2 img:hover {
    opacity: 0;

}

.photo-top2-2 img {
    width: 24%;
    height: 450px;
    float: left;
    opacity: 0;
    margin-left: -379px;
    transition: all .5s;
}

.photo-top2-2 img:hover {
    opacity: 1;
}

/* 第三张图片 */
.photo-top3 img {
    width: 24%;
    height: 450px;
    float: left;
    padding-right: 15px;
    opacity: 1;
    transition: all .5s;
}

.photo-top3 img:hover {
    opacity: 0;

}

.photo-top3-3 img {
    width: 24%;
    height: 450px;
    float: left;
    margin-left: -379px;
    opacity: 0;
  
    transition: all .5s;
}

.photo-top3-3 img:hover {
    opacity: 1;
}

/* 第四张图片 */
.photo-top4 img {
    width: 22%;
    height: 450px;
    float: left;
}

.photo-top4 img:hover {
    opacity: 0;

}

.photo-top4-4 img {
    width: 20%;
    height: 450px;
    float: left;
    padding-left: 15px;
    opacity: 0;
    margin-left: -349px;
    transition: all .5s;
}

.photo-top4-4 img:hover {
    opacity: 1;
}

/* 衣物名称 */
.shopName {
    float: left;
    width: 100%;
    height: 90px;
    line-height: 90px;
}

.shopName1 {
    float: left;
    font-size: 16px;
    padding-right: 205px;
    margin-left: 50px;
}

.shopName2 {
    float: left;
    font-size: 16px;
    padding-right: 210px;
}

.shopName3 {
    float: left;
    font-size: 16px;
    padding-right: 210px;
}

.shopName4 {
    float: left;
    font-size: 16px;
}

/*价格 */
.priceName {
    float: left;
    width: 100%;
    height: 20px;
    line-height: 20px;
}

.priceName1 {
    float: left;
    font-size: 16px;
    margin-left: 57px;

}

.priceName2 {
    float: left;
    font-size: 16px;
    margin-left: 305px;
}

.priceName3 {
    float: left;
    font-size: 16px;
    margin-left: 310px;
}

.priceName4 {
    float: left;
    font-size: 16px;
    margin-left: 321px;
}


/* 第五张图片 */
.photo-top5 img {
    width: 24%px;
    height: 450px;
    float: left;
    padding-right: 15px;
    opacity: 1;
    transition: all .5s;
    margin-left: 30px;
}

.photo-top5 img:hover {
    opacity: 0;

}

.photo-top5-5 img {
    width: 24%;
    height: 450px;
    float: left;
    opacity: 0;
    margin-left: -379px;
    transition: all .5s;
}

.photo-top5-5 img:hover {
    opacity: 1;
}

/* 第六张图片 */
.photo-top6 img {
    width: 24%;
    height: 450px;
    float: left;
    padding-right: 15px;
    opacity: 1;
    transition: all .5s;
}

.photo-top6 img:hover {
    opacity: 0;

}

.photo-top6-6 img {
    width: 24%;
    height: 450px;
    float: left;
    margin-left: -379px;
    opacity: 0;
    transition: all .5s;
}

.photo-top6-6 img:hover {
    opacity: 1;
}

/* 第七张图片 */
.photo-top7 img {
    width: 24%;
    height: 450px;
    float: left;
    padding-right: 15px;
    opacity: 1;
    transition: all .5s;
}

.photo-top7 img:hover {
    opacity: 0;

}

.photo-top7-7 img {
    width: 24%;
    height: 450px;
    float: left;
    margin-left: -382px;
    opacity: 0;
    transition: all .5s;
}

.photo-top7-7 img:hover {
    opacity: 1;
}

/* 第八张图片 */
.photo-top8 img {
    width: 22%;
    height: 450px;
    float: left;
}

.photo-top8 img:hover {
    opacity: 0;

}

.photo-top8-8 img {
    width: 20%;
    height: 450px;
    float: left;
    padding-left: 15px;
    opacity: 0;
    margin-left: -349px;
    transition: all .5s;
}

.photo-top8-8 img:hover {
    opacity: 1;
}

.shopName5 {
    float: left;
    font-size: 16px;
    padding-right: 305px;
    margin-left: 55px;
}

.shopName6 {
    float: left;
    font-size: 16px;
    padding-right: 160px;
}

.shopName7 {
    float: left;
    font-size: 16px;
    padding-right: 200px;
}

.shopName8 {
    float: left;
    font-size: 16px;
}

.priceName5 {
    float: left;
    font-size: 16px;
    margin-left: 65px;

}

.priceName6 {
    float: left;
    font-size: 16px;
    margin-left: 295px;
}

.priceName7 {
    float: left;
    font-size: 16px;
    margin-left: 325px;
}

.priceName8 {
    float: left;
    font-size: 16px;
    margin-left: 300px;
}

/* 第九张图片 */
.photo-top9 img {
    width: 24%;
    height: 450px;
    float: left;
    padding-right: 15px;
    opacity: 1;
    transition: all .5s;
    margin-left: 30px;
}

.photo-top9 img:hover {
    opacity: 0;

}

.photo-top9-9 img {
    width: 24%;
    height: 450px;
    float: left;
    opacity: 0;
    margin-left: -381px;
    transition: all .5s;
}

.photo-top9-9 img:hover {
    opacity: 1;
}

/* 第十张图片 */
.photo-top10 img {
    width: 24%;
    height: 450px;
    float: left;
    padding-right: 15px;
    opacity: 1;
    transition: all .5s;
}

.photo-top10 img:hover {
    opacity: 0;

}

.photo-top10-10 img {
    width: 24%;
    height: 450px;
    float: left;
    margin-left: -381px;
    opacity: 0;
    transition: all .5s;
}

.photo-top10-10 img:hover {
    opacity: 1;
}

/* 第十一张图片 */
.photo-top11 img {
    width: 24%;
    height: 450px;
    float: left;
    padding-right: 15px;
    opacity: 1;
    transition: all .5s;
}

.photo-top11 img:hover {
    opacity: 0;

}

.photo-top11-11 img {
    width: 24%;
    height: 450px;
    float: left;
    margin-left: -383px;
    opacity: 0;
    transition: all .5s;
}

.photo-top11-11 img:hover {
    opacity: 1;
}

/* 第十二张图片 */
.photo-top12 img {
    width: 22%;
    height: 450px;
    float: left;
}

.photo-top12 img:hover {
    opacity: 0;

}

.photo-top12-12 img {
    width: 20%;
    height: 450px;
    float: left;
    padding-left: 15px;
    opacity: 0;
    margin-left: -349px;
    transition: all .5s;
}

.photo-top12-12 img:hover {
    opacity: 1;
}

.shopName9 {
    float: left;
    font-size: 16px;
    padding-right: 175px;
    margin-left: 50px;
}

.shopName10 {
    float: left;
    font-size: 16px;
    padding-right: 210px;
}

.shopName11 {
    float: left;
    font-size: 16px;
    padding-right: 280px;
}

.shopName12 {
    float: left;
    font-size: 16px;
}

.priceName9 {
    float: left;
    font-size: 16px;
    margin-left: 56px;

}

.priceName10 {
    float: left;
    font-size: 16px;
    margin-left: 308px;
}

.priceName11 {
    float: left;
    font-size: 16px;
    margin-left: 315px;
}

.priceName12 {
    float: left;
    font-size: 16px;
    margin-left: 300px;
}

.more {
    position: relative;
    float: left;
    width: 96%;
    height: 200px;
    margin-left: 30px;
    text-align: center;
}

.frame {
    position: absolute;
    display: inline-block;
    top: 70px;
    width: 64px;
    left: 695px;
    height: 39px;
    border-bottom: 2px solid rgb(1, 1, 1);
    overflow: hidden;
    transition: all 0.3s;
}

.frame>a {
    display: inline-block;
    position: absolute;
    left: 4px;
    height: 40px;
    font-size: 14px;
    text-decoration: none;
    line-height: 40px;
    color: rgb(0, 0, 0);
}

.frame::after {
    content: "";
    display: block;
    position: absolute;
    top: 39px;
    width: 64px;
    height: 39px;
    background-color: rgb(0, 0, 0);
}

.frame:hover::after {
    top: 0;
    transition: 0.3s;
}

.frame:hover>a {
    z-index: 99;
    color: rgb(255, 255, 255);
}
.Bottom-box{
    width: 100%;
    height: 160px;
    float: left;
}
.Bottom{
    border: 1px solid #FAF0E6;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

