*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 75.5%;
}
section{
    width: 139rem;
    height: 68.2rem;
    /* padding: 2rem 8%; */
    margin: 0 6%;
    /* outline: 1px solid black; */
    position: relative;
    top: 50px;
}


/* 注册页面左边 */
.zuo{
    width: 74.7rem;
    height: 60.2rem;
    padding: 4rem;
}
.zuo h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.zuo>div{
    font-size: 1.25rem;
    margin-bottom: 2rem;
}
form>p{
    font-size: 1.2rem;
    margin-bottom: 3.5rem;
}
form>div{
    width: 35rem;
    height: 5rem;
    padding: 0 1rem;
    float: left;
    /* outline: 1px solid black; */
}
/* 男女选择和国家选择*/
.xiala1{
    height: 5rem;
    width: 35rem;
    border: none;
    border-bottom: 1px solid black;
}
/* 姓名 */
.biaodan{
    height: 4.5rem;
    width: 35rem;
    font-size: 1.8rem;
    border: none;
    border-bottom: 1px solid black;
}
/* 出生日期 */
.riqi-1{
    margin-right: 5rem;
}
.riqi{
    text-align: center;
    height: 3rem;
    width: 5rem;
    border: none;
}
.xiahuaxian{
    height: 4.9rem;
    border-bottom: 1px solid black;
}
/* 电话号码前缀 */
.dianhhua{
    display: inline-block;
}
.xiala2{
    width: 9rem;
    height: 4.9rem;
    border: none;
    border-bottom: 1px solid black;
}
.haoma{
    height: 4.9rem;
    width: 25rem;
    border: none;
    border-bottom: 1px solid black;
}
/* 验证码 */
.yanzhengma{
    width: 74.7rem;
    height: 5.2rem;
    padding: 4rem 0 3rem 0;
}
.biaodan1{
    height: 5rem;
    width: 35rem;
    font-size: 1.8rem;
    border: none;
    border-bottom: 1px solid black;
    margin-left: 8rem;
}
/* 发送按钮 */
.fasong{
    width: 40rem;
    height: 5rem;
    background-color: darkgrey;
    color: aliceblue;
    border: none;
}
/* 继续购物 */
.gouwu{
    display: inline-block;
    width: 7rem ;
    height: 3.4rem;
    text-align: center;
    line-height: 3.4rem;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    margin-top: 5rem;
    position: relative;
    overflow: hidden;
}
.gouwu::after{
    content: "";
    display: block;
    width: 7rem;
    height: 3.4rem;
    background-color: black;
    position: absolute;
    top: 3.4rem;
    z-index: -1;
    transition: 0.3s;
}
.gouwu:hover::after{
    top: 0px;
    transition: 0.3s;
}
.gouwu:hover{
    color: aliceblue;
    z-index: 1;
}
/* 右边文字 */
.you{
    width: 40rem;
    height: 12.2rem ;
    padding: 3rem 4rem;
    position: absolute;
    right: 4.5rem;
    top: 3rem;
}
.you h3{
    font-size: 1.5rem;
}
.you>p{
    font-size: 1.12rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.you>a{
    display: inline-block;
    width: 4rem ;
    height: 3.4rem;
    text-align: center;
    line-height: 3.4rem;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    margin-top: 5rem;
    position: relative;
    overflow: hidden;
}
.you>a::after{
    content: "";
    display: block;
    width: 4rem;
    height: 3.4rem;
    background-color: black;
    position: absolute;
    top: 3.4rem;
    z-index: -1;
    transition: 0.3s;
}
.you>a:hover::after{
    top: 0px;
    transition: 0.3s;
}
.you>a:hover{
    color: aliceblue;
    z-index: 1;
}