
.top2 {
  /* margin-top: 20px; */
  width: 100%;
  height: 1750px;
  background-color: rgb(255, 255, 255);
}

.top1 {
  background-color: rgb(255, 255, 255);
  background-image: url(../images/yjA1.jpg);
  width: 760px;
  height: 760px;
  /* margin-top: 20px; */
  margin-left: 20px;
  background-size: contain;
}

* {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 0px;
  background-color: #ffffff;
  width: 760px;
  margin-left: 20px;
  grid-gap: 4px;
}

.img2 {
  background-image: url(../images/yja2.jpg);
  width: 378px;
  height: 468px;
  background-size: contain;
  /* display: inline-block; */
  /* border: 5px solid rgba(255, 255, 255, 0.8); */
  text-align: center;
  border-top: 4px solid rgb(255, 255, 255);
}

.right {
  width: 550px;
  height: 1000px;
  background-color: rgb(255, 255, 255);
}

.img3 {
  background-image: url(../images/yjA3.jpg);
  width: 378px;
  height: 468px;
  background-size: contain;
  /* display: inline-block; */
  /* border: 5px solid rgba(255, 255, 255, 0.8); */
  text-align: center;
  border-top: 4px solid rgb(255, 255, 255);
}

.img4 {
  background-image: url(../images/yjA4.jpg);
  width: 378px;
  height: 472px;
  background-size: contain;
  text-align: center;
}

.img5 {
  background-image: url(../images/yja5.jpg);
  width: 378px;
  height: 472px;
  background-size: contain;
  text-align: center;
}

.right {
  width: 568px;
  height: 1230px;
  background-color: rgb(255, 255, 255);
  float: left;
  /* margin-top: 20px; */
  padding: 58px;
  box-sizing: border-box;
}

.righttop {
  width: 450px;
  height: 400px;
  background-color: rgb(255, 255, 255);
}

.line1 {
  width: 450px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  background-image: url(../images/yjaixing.jpg);
  background-repeat: no-repeat;
  background-position-x: right;
}

.rightbotton {
  width: 450px;
  height: 772px;
  background-color: rgb(255, 255, 255);
}

.line2 {
  width: 450px;
  height: 40px;
  background-color: rgb(255, 255, 255);
}

.line3 {
  width: 450px;
  height: 40px;
  background-color: rgb(255, 255, 255);
}

.line4 {
  width: 450px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  line-height: 60px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.strong {
  font-weight: 700px;
}

.line5 {
  width: 450px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  line-height: 60px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.line6 {
  text-decoration: underline;
  text-align: right;
  font-size: small;
  width: 450px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  line-height: 40px;
}

.line6:hover {
  text-decoration: none;
}

.line7 {
  text-align: center;
  width: 450px;
  height: 40px;
  background-color: rgb(0, 0, 0);
  line-height: 40px;
  color: rgb(255, 255, 255);
}

.line8 {
  text-align: center;
  display: inline-block;
  width: 450px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  line-height: 40px;
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

.line9 {
  line-height: 30px;
}

.line10 {
  width: 450px;
  height: 320px;
  /* grid-template-columns: auto; */
  margin-left: 0px;
  /* grid-gap: 0px; */
  display: block;
  border-top: 30px solid rgb(255, 255, 255);
  border-bottom: 10px solid rgb(255, 255, 255);
}

.linex {
  width: 450px;
  height: 30px;
  font-size: small;
}

.line11 {
  /* border-bottom: 5px solid rgb(255, 255, 255); */
  width: 450px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  display: block;
}

.line12 {
  width: 450px;
  height: 20px;
}

.line13 {
  width: 450px;
  height: 40px;
  line-height: 40px;
  border-top: 20px solid rgb(255, 255, 255);
}

.line14 {
  text-align: right;
}

.line15 {
  width: 450px;
  height: 50px;
  line-height: 50px;
}

.line16 {
  color: #000;
}

.left {
  float: left;
}

.main1 {
  width: 100%;
  height: 1000px;
  background-color: rgb(255, 255, 255);
}

.header1 {
  height: 80px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-left: 20px solid rgb(255, 255, 255);
}

.h12 {
  width: 140px;
  height: 80px;
  line-height: 80px;
  background-color: rgb(255, 255, 255);
  float: left;
  text-align: center;
}

.header2 {
  width: 108px;
  height: 80px;
  background-color: rgb(255, 255, 255);
  float: right;
  line-height: 80px;
  text-align: center;
}

.header3 {
  width: 108px;
  height: 80px;
  background-color: rgb(255, 255, 255);
  float: right;
  line-height: 80px;
  text-align: center;
}

.section2 {
  width: 100%;
  height: 600px;
  background-color: rgb(255, 255, 255);
  /* border-left:20px solid rgb(255, 255, 255); */
  overflow: hidden;
  margin: 0px;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-column-gap: 20px;
  overflow: hidden;
}

.li1 {
  width: 376px;
  height: 604px;
  background-color: rgb(255, 255, 255);
  border: 0px;
  position: relative;
}

.li2 {
  width: 374px;
  height: 470px;
  background-image: url(../images/yjimg7.jpg);
  text-align: left;
  display: block;
  background-size: contain;
}

.li3 {
  margin-left: 20px;
  position: absolute;
  bottom: 50px;
  text-decoration: none;
}

.li4 {
  font-weight: bolder;
  text-decoration: none;
  color: #000;
}

.li5 {
  width: 374px;
  height: 470px;
  background-image: url(../images/yjheng2.jpg);
  text-align: left;
  display: block;
  background-size: 374px 470px;
}

.li6 {
  width: 374px;
  height: 470px;
  background-image: url(../images/yejheng4.jpg);
  text-align: left;
  display: block;
  background-size: 374px 470px;
}

.li7 {
  width: 374px;
  height: 470px;
  background-image: url(../images/yjA1.jpg);
  text-align: left;
  display: block;
  background-size: 374px 470px;
}

.imgz {
  margin-top: 7px;
}

/* .a1 {
          text-decoration: none;
       } */

.footer1 {
  width: 100%;
  height: 92px;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
}

.foot3 {
  grid-template-columns: auto auto auto auto auto;
  margin-top: 30px;
}

.foot2 {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font: weight 500px;
  font-size: large;
}

.foot2:hover {
  text-decoration: underline;
}

body {
  overflow-x: hidden;
}

.dw3 {
  width: 12px;
}
